

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="header">
        <div class="navigation">
            <div class="widget">
                <div class="black">
                    <div class="black2">Black</div>
                </div>
                <div class="friday">Friday</div>
                <div class="discount">
                    <div class="up-to">Up to</div>
                    <div class="_59">59%</div>
                    <div class="off">OFF</div>
                </div>
                <div class="button">
                    <div class="label">Shop now</div>
                    <img class="regular-arrow-right" src="regular-arrow-right0.svg" />
                </div>
                <div class="close-button">
                    <img class="duotone-x" src="duotone-x0.svg" />
                </div>
            </div>
            <div class="navigation">
                <div class="top-nav">
                    <div class="welcome-to-clicon-online-e-commerce-store">
                        Welcome to Clicon online eCommerce store.
                    </div>
                    <div class="left-content">
                        <div class="follow-us">
                            <div class="follow-us2">Follow us:</div>
                            <div class="social-icon">
                                <img class="twitter" src="twitter0.svg" />
                                <img class="facebook" src="facebook0.svg" />
                                <img class="pinterest" src="pinterest0.svg" />
                                <img class="reddit" src="reddit0.svg" />
                                <img class="youtube" src="youtube0.svg" />
                                <img class="instagram" src="instagram0.svg" />
                            </div>
                        </div>
                        <div class="line-1"></div>
                        <div class="multi-language-drodpwon">
                            <div class="dropdown">
                                <div class="eng">Eng</div>
                                <img class="regular-caret-down" src="regular-caret-down0.svg" />
                            </div>
                        </div>
                        <div class="multi-currency-dropdown">
                            <div class="dropdown">
                                <div class="usd">USD</div>
                                <img class="regular-caret-down2" src="regular-caret-down1.svg" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="middle-nav">
                    <div class="logo">
                        <img class="icon" src="icon0.svg" />
                        <div class="clicon">CLICON</div>
                    </div>
                    <div class="frame-18">
                        <div class="search-for-anything">Search for anything...</div>
                        <img class="regular-magnifying-glass" src="regular-magnifying-glass0.svg" />
                    </div>
                    <div class="icons">
                        <div class="shopping-cart-simple">
                            <img class="vector" src="vector0.svg" />
                            <img class="vector2" src="vector1.svg" />
                            <img class="vector3" src="vector2.svg" />
                            <img class="vector4" src="vector3.svg" />
                            <div class="frame-182">
                                <div class="_2">2</div>
                            </div>
                        </div>
                        <img class="heart" src="heart0.svg" />
                        <img class="regular-user" src="regular-user0.svg" />
                    </div>
                </div>
                <div class="bottom-nav">
                    <div class="left-side">
                        <div class="category">
                            <div class="button2">
                                <div class="label2">All Category</div>
                                <img class="regular-caret-down3" src="regular-caret-down2.svg" />
                            </div>
                        </div>
                        <div class="track-order">
                            <img class="regular-map-pin-line" src="regular-map-pin-line0.svg" />
                            <div class="track-order2">Track Order</div>
                        </div>
                        <div class="compare">
                            <img class="duotone-arrows-counter-clockwise" src="duotone-arrows-counter-clockwise0.svg" />
                            <div class="compare2">Compare</div>
                        </div>
                        <div class="customer-support">
                            <img class="regular-headphones" src="regular-headphones0.svg" />
                            <div class="customer-support2">Customer Support</div>
                        </div>
                        <div class="need-help">
                            <img class="regular-info" src="regular-info0.svg" />
                            <div class="need-help2">Need Help</div>
                        </div>
                    </div>
                    <div class="call-now">
                        <img class="regular-phone-call" src="regular-phone-call0.svg" />
                        <div class="_1-202-555-0104">+1-202-555-0104</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widgets">
            <div class="widget2">
                <div class="dot">
                    <div class="_03"></div>
                    <div class="_02"></div>
                    <div class="_01"></div>
                </div>
                <div class="content">
                    <div class="content2">
                        <div class="heading">
                            <div class="caption">
                                <div class="devider"></div>
                                <div class="the-best-place-to-play">THE BEST PLACE TO PLAY</div>
                            </div>
                            <div class="xbox-consoles">Xbox Consoles</div>
                        </div>
                        <div class="save-up-to-50-on-select-xbox-games-get-3-months-of-pc-game-pass-for-2-usd">
                            Save up to 50% on select Xbox games. Get 3 months of PC Game Pass
                            for $2 USD.
                        </div>
                    </div>
                    <div class="button3">
                        <div class="label3">Shop Now</div>
                        <img class="regular-arrow-right2" src="regular-arrow-right1.svg" />
                    </div>
                </div>
                <img class="image" src="image0.png" />
                <div class="price">
                    <div class="_299">$299</div>
                </div>
            </div>
            <div class="small-widgets">
                <div class="widget3">
                    <img class="image-5" src="image-50.png" />
                    <div class="badge">
                        <div class="_29-off">29% OFF</div>
                    </div>
                    <div class="content3">
                        <div class="info">
                            <div class="summer-sales">Summer Sales</div>
                            <div class="new-google-pixel-6-pro">New Google Pixel 6 Pro</div>
                        </div>
                        <div class="button4">
                            <div class="label4">Shop Now</div>
                            <img class="regular-arrow-right3" src="regular-arrow-right2.svg" />
                        </div>
                    </div>
                </div>
                <div class="widget4">
                    <img class="image-4" src="image-40.png" />
                    <div class="content4">
                        <div class="info2">
                            <div class="xiaomi-flip-buds-pro">Xiaomi FlipBuds Pro</div>
                            <div class="_299-usd">$299 USD</div>
                        </div>
                        <div class="button4">
                            <div class="label4">Shop Now</div>
                            <img class="regular-arrow-right4" src="regular-arrow-right3.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="features">
            <div class="feature">
                <img class="duotone-package" src="duotone-package0.svg" />
                <div class="info3">
                    <div class="fasted-delivery">Fasted Delivery</div>
                    <div class="delivery-in-24-h">Delivery in 24/H</div>
                </div>
            </div>
            <div class="line-2"></div>
            <div class="feature">
                <img class="duotone-trophy" src="duotone-trophy0.svg" />
                <div class="info3">
                    <div class="_24-hours-return">24 Hours Return</div>
                    <div class="_100-money-back-guarantee">100% money-back guarantee</div>
                </div>
            </div>
            <div class="line-4"></div>
            <div class="feature">
                <img class="duotone-credit-card" src="duotone-credit-card0.svg" />
                <div class="info3">
                    <div class="secure-payment">Secure Payment</div>
                    <div class="your-money-is-safe">Your money is safe</div>
                </div>
            </div>
            <div class="line-5"></div>
            <div class="feature">
                <img class="duotone-headphones" src="duotone-headphones0.svg" />
                <div class="info3">
                    <div class="support-24-7">Support 24/7</div>
                    <div class="live-contact-message">Live contact/message</div>
                </div>
            </div>
        </div>
    </div>

    <!-- TODAY BEST DEALS -->

    <div class="today-best-deals">
        <div class="heading">
          <div class="content">
            <div class="best-deals">Best Deals</div>
            <div class="deals-ends-in">
              <div class="deals-ends-in2">Deals ends in</div>
              <div class="time">
                <div class="_16-d">16d</div>
                <div class="div">:</div>
                <div class="_21-h">21h</div>
                <div class="div">:</div>
                <div class="_57-m">57m</div>
                <div class="div">:</div>
                <div class="_23-s">23s</div>
              </div>
            </div>
          </div>
        </div>
        <div class="product">
          <div class="product2">
            <img class="image" src="image0.png" />
            <div class="content2">
              <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                Sony DSCHX8 High Zoom Point &amp; Shoot Camera
              </div>
              <div class="price">
                <div class="_442-12">$1,200</div>
              </div>
            </div>
            <div class="overly"></div>
            <div class="button2">
              <div class="arrow-button">
                <img class="heart" src="heart0.svg" />
              </div>
              <div class="arrow-button2">
                <img class="shopping-cart-simple" src="shopping-cart-simple0.svg" />
              </div>
              <div class="arrow-button2">
                <img class="regular-eye" src="regular-eye0.svg" />
              </div>
            </div>
          </div>
          <div class="product3">
            <img class="image" src="image1.png" />
            <div class="badge">
              <div class="_25-off">32% OFF</div>
            </div>
            <div class="content2">
              <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                JBL FLIP 4 - Waterproof Portable Bluetooth Speaker - Black
              </div>
              <div class="price">
                <div class="_865-99">$360</div>
                <div class="_442-12">$250</div>
              </div>
            </div>
          </div>
          <div class="product4">
            <img class="image" src="image2.png" />
            <div class="badge">
              <div class="_25-off">19% OFF</div>
            </div>
            <div class="content2">
              <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                4K UHD LED Smart TV with Chromecast Built-in
              </div>
              <div class="price">
                <div class="_865-99">$865</div>
                <div class="_442-12">$1,50</div>
              </div>
            </div>
          </div>
          <div class="product5">
            <img class="image" src="image3.png" />
            <div class="badge2">
              <div class="hot">HOT</div>
            </div>
            <div class="content2">
              <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                2-Barrel Carburetor Carb 2100 Engine Increase Horsepower
              </div>
              <div class="price">
                <div class="_442-12">$160</div>
              </div>
            </div>
          </div>
          <div class="product6">
            <img class="image" src="image4.png" />
            <div class="content2">
              <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                Simple Mobile 4G LTE Prepaid Smartphone
              </div>
              <div class="price">
                <div class="_442-12">$220</div>
              </div>
            </div>
          </div>
          <div class="product7">
            <img class="image" src="image5.png" />
            <div class="content2">
              <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                Portable Wshing Machine, 11lbs capacity Model 18NMFIAM
              </div>
              <div class="price">
                <div class="_865-99">$865.99</div>
                <div class="_442-12">$70</div>
              </div>
            </div>
          </div>
          <div class="product8">
            <img class="image" src="image6.png" />
            <div class="badge3">
              <div class="sold-out">SOLD OUT</div>
            </div>
            <div class="content2">
              <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                Bose Sport Earbuds - Wireless Earphones - Bluetooth In Ear...
              </div>
              <div class="price">
                <div class="_442-12">$2,300</div>
              </div>
            </div>
          </div>
          <div class="product9">
            <img class="image" src="image7.png" />
            <div class="content2">
              <div class="dell-21-5-inch-full-hd-monitor-e-2216-hv">
                Dell Optiplex 7000x7480 All-in-One Computer Monitor
              </div>
              <div class="price">
                <div class="_442-12">$299</div>
              </div>
            </div>
          </div>
          <div class="product10">
            <div class="rectangle-4"></div>
            <img class="image2" src="image8.png" />
            <div class="button3">
              <div class="arrow-button3">
                <img class="heart2" src="heart1.svg" />
              </div>
              <div class="button4">
                <img class="shopping-cart-simple2" src="shopping-cart-simple1.svg" />
                <div class="label">Add to card</div>
              </div>
              <div class="arrow-button3">
                <img class="regular-eye2" src="regular-eye1.svg" />
              </div>
            </div>
            <div class="badge4">
              <div class="badge5">
                <div class="_25-off">32% OFF</div>
              </div>
              <div class="badge6">
                <div class="hot">HOT</div>
              </div>
            </div>
            <div class="content3">
              <div class="heading2">
                <div class="rating">
                  <img class="regular-star" src="regular-star0.svg" />
                  <img class="regular-star2" src="regular-star1.svg" />
                  <img class="regular-star3" src="regular-star2.svg" />
                  <img class="regular-star4" src="regular-star3.svg" />
                  <img class="regular-star5" src="regular-star4.svg" />
                  <div class="_52-677">(52,677)</div>
                </div>
                <div
                  class="xbox-series-s-512-gb-ssd-console-with-wireless-controller-eu-versio"
                >
                  Xbox Series S - 512GB SSD Console with Wireless Controller - EU
                  Versio...
                </div>
              </div>
              <div class="price2">
                <div class="_865-992">$865.99</div>
                <div class="_442-122">$442.12</div>
              </div>
              <div
                class="games-built-using-the-xbox-series-x-s-development-kit-showcase-unparalleled-load-times-visuals"
              >
                Games built using the Xbox Series X|S development kit showcase
                unparalleled load times, visuals.
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- CATEGORIAS -->
      
      <div class="category">
        <div class="shop-with-categorys">Shop with Categorys</div>
        <div class="category2">
          <div class="item">
            <div class="category3">
              <img class="image" src="image0.png" />
              <div class="computer-laptop">Computer &amp; Laptop</div>
            </div>
            <div class="category3">
              <img class="image" src="image1.png" />
              <div class="computer-laptop">SmartPhone</div>
            </div>
            <div class="category3">
              <img class="image" src="image2.png" />
              <div class="computer-laptop">Headphones</div>
            </div>
            <div class="category3">
              <img class="image" src="image3.png" />
              <div class="computer-laptop">Accessories</div>
            </div>
            <div class="category3">
              <img class="image" src="image4.png" />
              <div class="computer-laptop">Camera &amp; Photo</div>
            </div>
            <div class="category3">
              <img class="image" src="image5.png" />
              <div class="computer-laptop">TV &amp; Homes</div>
            </div>
          </div>
          <div class="arrow">
            <div class="arrow-button">
              <img class="regular-arrow-left" src="regular-arrow-left0.svg" />
            </div>
            <div class="arrow-button2">
              <img class="regular-arrow-right" src="regular-arrow-right0.svg" />
            </div>
          </div>
        </div>
      </div>
      
      <!-- PRODUCTS -->

      

</body>
</html>